{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>SmileSphere-Signin</title>
  <link rel='stylesheet' href='{% static "https://fonts.googleapis.com/css?family=Roboto:300,400,700" %}'>
  <link rel="stylesheet" href="{% static "./style1.css" %}">

</head>
<body>
<!-- partial:index.partial.html -->
<header class="main-header hide-content">
  <div class="container">
    <div class="header-position">
      <span class="main-logo">
        <img src="https://s25.postimg.cc/5otd9ungv/cloud-icon.png" alt="">
        <span class="main-logo-text"><span class="font-700">Smile</span><span class="font-300">Sphere</span></span>
      </span>
      <a href="signup.html" class="main-nav-cta button button-light-blue">Sign Up</a>
    </div>
  </div>
</header>
<main class="hide-content">
  <div class="container">
    <h1 class="main-heading">Make your Teeth look like this snow</h1>
    <div class="slim-container">
      <form class="line-form">
        <label for="sign-in-email" class="offscreen">Email</label>
        <input type="text" id="sign-in-email" class="input input-email" placeholder="Email">
        <label for="sign-in-password" class="offscreen">Password</label>
        <input type="password" class="input input-password" placeholder="Password">
        <input type="submit" value="Sign In" id="line-form-submit" class="button button-dark-blue" onClick="return false;">
      </form>
      <div class="extra-actions">
        <span>or</span>
        <button class="button button-white">
          <img src="https://s25.postimg.cc/xg92vlsvj/facebook.png" alt="">
          Sign In with Google
        </button>
      </div>
      <div class="slim-container-bottom">
        <a href="forgot.html" class="button button-small">Forgot Password</a>
        <a href="#/" class="button button-small">Terms and Conditions</a>
      </div>
    </div>
  </div> 
</main>
<div class="scene-position">
  <ul id="scene">
    <li class="layer" data-depth="0.1">
      <img src="https://s25.postimg.cc/56y7u2q73/mountain-edit.png" alt="" class="bg-img bg-img-0">
    </li>
    <li class="layer" data-depth="0.2">
      <img src="https://s25.postimg.cc/s709sbbe7/landscape.png" alt="" class="bg-img bg-img-1">
    </li>
    <li class="layer" data-depth="0.6">
      <img src="https://s25.postimg.cc/hqor3pem7/big-clouds.png" alt="" class="bg-img bg-img-2">
    </li>
    <li class="layer" data-depth=".8">
      <img src="https://s25.postimg.cc/hqor3pem7/big-clouds.png" alt="" class="bg-img bg-img-3">
    </li>
  </ul>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js'></script><script  src="{% static "./script.js" %}"></script>

</body>
</html>
